{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5">
    <h2>Configuración de Notificaciones</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-check">
            <input type="checkbox" name="recibir_notificaciones" class="form-check-input" id="recibirNotificaciones" {% if preferencias.recibir_notificaciones %}checked{% endif %}>
            <label class="form-check-label" for="recibirNotificaciones">
                Quiero recibir notificaciones
            </label>
        </div>

        <div class="mt-3">
            <label for="frecuencia">Frecuencia de notificaciones:</label>
            <select name="frecuencia" id="frecuencia" class="form-control">
                <option value="diaria" {% if preferencias.frecuencia == 'diaria' %}selected{% endif %}>Diaria</option>
                <option value="semanal" {% if preferencias.frecuencia == 'semanal' %}selected{% endif %}>Semanal</option>
                <option value="mensual" {% if preferencias.frecuencia == 'mensual' %}selected{% endif %}>Mensual</option>
            </select>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Guardar Preferencias</button>
        </div>
    </form>
</div>
{% endblock %}
