{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <h2 class="text-center">Comprar {{ fruta.nombre }}</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" class="form-control" min="1" max="{{ fruta.stock }}" required>
        </div>

        <button type="submit" class="btn btn-success mt-3">Comprar</button>
    </form>
</div>
{% endblock %}
