{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->
{% include 'navbar.html' %}

<div class="container text-center">
    <h1 class="display-4 mt-5">¡Bienvenido/a al Mercado de Frutas!</h1>
    <p class="lead">El lugar donde encontrarás las frutas más frescas.</p>

    <!-- Banner de frutas -->
    <img src="{% static 'img/fondo.jpg' %}" alt="Frutas frescas" class="img-fluid my-4">

    <!-- Botón para ver productos -->


    <!-- Sección de destacados -->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/limones.jpg' %}" class="card-img-top" alt="Manzana">
                <div class="card-body">
                    <h5 class="card-title">Limón Eureka</h5>
                    <p class="card-text">Los mejores limones directamente del huerto a tu mesa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/duraznos.jpg' %}" class="card-img-top" alt="Naranjas">
                <div class="card-body">
                    <h5 class="card-title">Durazno</h5>
                    <p class="card-text">Duraznos dulces.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/mangos.jpg' %}" class="card-img-top" alt="Bananas">
                <div class="card-body">
                    <h5 class="card-title">Mango</h5>
                    <p class="card-text">Mangos dulces.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
