<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resumen</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'resumen/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap"
      rel="stylesheet"
    />
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <!-- Barra de navegación -->
  <body class="bg-custom">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Seguimiento de Hábitos</a>

        <!-- Botones de barra de navegación para cambiar de pantalla -->
        <div class="d-flex ms-auto">
          <button
            type="button"
            class="btn btn-secondary mx-1"
            onclick="showSection('resumen')"
          >
            Resumen
          </button>
          <button
            type="button"
            class="btn btn-secondary mx-1"
            onclick="showSection('estadisticas')"
          >
            Estadísticas
          </button>
        </div>

  <!-- Dropdown de Perfil -->
  <div class="dropdown ms-2">
    <button
      class="btn btn-outline-light dropdown-toggle"
      type="button"
      id="perfilDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
  </svg>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
        <!-- Botón de cerrar sesión dentro del dropdown-->
        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
      </li>
    </ul>
  </div>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="notificacionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     <button type="button" class="btn btn-primary position-relative mx-2">
       Notificaciones
         <span class="visually-hidden">New alerts</span>
       </span>
     </button>
        {% if notificaciones_no_leidas > 0 %}
            <span class="badge bg-danger">{{ notificaciones_no_leidas }}</span>
        {% endif %}
      >  
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificacionesDropdown">
        {% if notificaciones %}
            {% for notificacion in notificaciones %}
                <li><a class="dropdown-item" href="#">{{ notificacion.mensaje }}</a></li>
            {% endfor %}
        {% else %}
            <li><a class="dropdown-item" href="#">No tienes notificaciones</a></li>
        {% endif %}
    </ul>
</li>

          <!-- Botón de ayuda con ícono de pregunta, al darle click, se arroja un modal -->
          <button
            class="btn btn-outline-light ms-2"
            data-bs-toggle="modal"
            data-bs-target="#helpModal"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-question-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"
              />
            </svg>
          </button>
        </div>
      </div>
    </nav>

    <!-- Modal de Ayuda, se muestra descripción sobre que contiene esta pantalla -->
    <div
      class="modal fade"
      id="helpModal"
      tabindex="-1"
      aria-labelledby="helpModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">
              Información sobre esta pantalla
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Aquí se muestra todo lo relacionado con el avance del usuario en
              sus hábitos
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              Entendido
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bienvenida y botón para crear un nuevo hábito-->
    <h1 class="text-center mt-5">¡Bienvenido, {{ user_name }}!</h1>
    <div class="mt-4 d-flex justify-content-center">
      <form action="{% url 'create_habit' %}" method="get">  <!-- O usa "post" si tienes un formulario -->
	<button type="submit" class="btn btn-danger" style="width: 200px">
          Crear un nuevo Hábito
	</button>
      </form>
    </div>

    <!-- Por así decirlo, será nuestra pantalla principal de inicio -->

    <!-- Contenedor para organizar las dos partes de forma horizontal -->
    <div id="resumen" class="container mt-5">
      <!-- Parte de arriba: Hábitos completados y Hábitos pendientes -->
      <div class="row mb-4">
        <!-- Sección de marcar hábitos completados -->
        <div class="seleccion col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Hábitos por completar</h4>
              <h6 class="card-title">
                Selecciona los hábitos que has completado y marcalos todas las veces
              </h6>
              <p class="card-text">Ej: Si estableciste que se repitiera 5 veces, tienes que marcarlo 5 veces para que desaparezca ;)</p>
              <!-- Checkboxes dentro de marcar hábitos seleccionados-->
              <div class="form-check">
		{% for habit in pendientes %}
		<div class="form-check" id="habit-container-{{ habit.id }}">
		  <input
		    class="form-check-input"
		    type="checkbox"
		    id="habit_{{ habit.id }}"
		    value="{{ habit.id }}"
		    onclick="handleCheckboxClick({{ habit.id }}, {{ habit.goal }})"
		    />
		  <label class="form-check-label" for="habit_{{ habit.id }}">
		    {{ habit.name }}
		  </label>
		</div>
		{% empty %}
		<div class="form-check">
		  <p id="no-habits">No hay hábitos pendientes.</p>
		</div>
		{% endfor %}
	      </div>
            </div>
          </div>
        </div>

<!-- Sección de Hábitos Pendientes -->
<div class="habitos-pendientes col-md-6 mb-3">
  <div class="card h-100">
    <div class="card-body">
      <h4 class="card-title">Hábitos Pendientes</h4>
      <h6 class="card-title">
        Hábitos mostrados desde el más antiguo al creado más
        recientemente
      </h6>

      <p class="card-text">
        Además, te recordamos las repeticiones que te faltan para concluir exitosamente tu hábito!
      </p>
        <!-- Muestra un mensaje personalizado dependiendo de la categoría que el usuario escogió previamente en CreacionHabitos-->
              <div class="list-group">
                {% for habit in pendientes %}
                <a href="#" class="list-group-item list-group-item-action active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ habit.name }}</h5>
                    <small class="text-body-secondary">Faltan {{ habit.goal }} repeticiones.</small>
                  </div>
                  <p class="mb-1">
                    {% if habit.category == "salud" %}
                    Recuerda que eres tu mayor proyecto. Cuida tu cuerpo y mente con amor.
                    {% elif habit.category == "deporte" %}
                    Tu único límite es el que tú te pones. Rompe barreras, crea una nueva versión de ti.
                    {% elif habit.category == "trabajo" %}
                    Trabaja duro, pero también trabaja en estar bien. El balance es el verdadero éxito.
                    {% elif habit.category == "personal" %}
                    El amor propio es el primer paso para una vida plena y satisfactoria. Sé tu prioridad
                    {% else %}
                      Recuerda completar este hábito.
                    {% endif %}
                  </p>
                  <small class="text-body-secondary">{{ habit.category }}</small>
                </a>
                {% empty %}
                <p>No hay hábitos pendientes.</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chart-container row" id="estadisticas_d_s_m">
        <div class="chart-item col">
          <canvas id="grafica_diaria" width="150" height="150"></canvas>
          <p> Habitos Diarios </p>
        </div>
        <script>
          const ctx_d = document.getElementById(`grafica_diaria`).getContext('2d');
          const percentage_d = {{ estadistica_diaria }};

          new Chart(ctx_d, {
            type: 'doughnut',
            data: {
              datasets: [{
                data: [percentage_d, 100 - percentage_d],
                backgroundColor: [
                  percentage_d > 70 ? 'rgba(51, 97, 255)' :
                    (percentage_d > 30 ? 'rgba(51, 221, 255, 1)' : 'rgba(50, 250, 180, 1)'),
                  'rgba(211, 211, 211, 0.3)'
                ],
                borderWidth: 2,
                cutout: '80%' // Ajusta el tamaño del centro vacío
              }]
            },
            options: {
              responsive: false,
              plugins: {
                tooltip: { enabled: false },
                legend: { display: false },
                // Etiqueta en el centro de la gráfica
                datalabels: {
                  display: true,
                  formatter: (value, context) => {
                    return context.chart.data.datasets[0].data[0] + '%';
                  },
                  color: '#000',
                  font: { size: 20, weight: 'bold' }
                }
              }
            }
          });

        </script>
        <div class="chart-item col">
          <canvas id="grafica_semanal" width="150" height="150"></canvas>
          <p> Habitos Semanales </p>
        </div>
        <script>
          const ctx_s = document.getElementById(`grafica_semanal`).getContext('2d');
          const percentage_s = {{ estadistica_semanal }};

          new Chart(ctx_s, {
            type: 'doughnut',
            data: {
              datasets: [{
                data: [percentage_s, 100 - percentage_s],
                backgroundColor: [
                  percentage_s > 70 ? 'rgba(51, 97, 255)' :
                    (percentage_s > 30 ? 'rgba(51, 221, 255, 1)' : 'rgba(50, 250, 180, 1)'),
                  'rgba(211, 211, 211, 0.3)'
                ],
                borderWidth: 2,
                cutout: '80%' // Ajusta el tamaño del centro vacío
              }]
            },
            options: {
              responsive: false,
              plugins: {
                tooltip: { enabled: false },
                legend: { display: false },
                // Etiqueta en el centro de la gráfica
                datalabels: {
                  display: true,
                  formatter: (value, context) => {
                    return context.chart.data.datasets[0].data[0] + '%';
                  },
                  color: '#000',
                  font: { size: 20, weight: 'bold' }
                }
              }
            }
          });

        </script>
        <div class="chart-item col">
          <canvas id="grafica_mensual" width="150" height="150"></canvas>
          <p> Habitos Mensuales </p>
        </div>
        <script>
          const ctx_m = document.getElementById(`grafica_mensual`).getContext('2d');
          const percentage_m = {{ estadistica_mensual }};

          new Chart(ctx_m, {
            type: 'doughnut',
            data: {
              datasets: [{
                data: [percentage_m, 100 - percentage_m],
                backgroundColor: [
                  percentage_s > 70 ? 'rgba(51, 97, 255)' :
                    (percentage_s > 30 ? 'rgba(51, 221, 255, 1)' : 'rgba(50, 250, 180, 1)'),
                  'rgba(211, 211, 211, 0.3)'
                ],
                borderWidth: 2,
                cutout: '80%' // Ajusta el tamaño del centro vacío
              }]
            },
            options: {
              responsive: false,
              plugins: {
                tooltip: { enabled: false },
                legend: { display: false },
                // Etiqueta en el centro de la gráfica
                datalabels: {
                  display: true,
                  formatter: (value, context) => {
                    return context.chart.data.datasets[0].data[0] + '%';
                  },
                  color: '#000',
                  font: { size: 20, weight: 'bold' }
                }
              }
            }
          });

        </script>
      </div>
      
    </div>
    
    <!-- Parte de abajo: Progreso diario, semanal y mensual en estilo accordion alineado en columnas -->
    <div class="row">
      <!-- Sección de Progreso diario -->
      <div class="progreso-diario col-md-4 mb-3">
        <div class="accordion accordion-flush" id="accordionFlushExample1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseDiario"
                aria-expanded="false"
                aria-controls="flush-collapseDiario"
              >
                Progreso Diario
              </button>
            </h2>
            <div
              id="flush-collapseDiario"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample1"
            >
              <div class="accordion-body">
                Hoy has completado **** hábitos, ¡bien hecho!
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección de Progreso Semanal -->
      <div class="progreso-semanal col-md-4 mb-3">
        <div class="accordion accordion-flush" id="accordionFlushExample2">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSemanal"
                aria-expanded="false"
                aria-controls="flush-collapseSemanal"
              >
                Progreso Semanal
              </button>
            </h2>
            <div
              id="flush-collapseSemanal"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample2"
            >
              <div class="accordion-body">
                ¡Felicidades! Has terminado *** de tus hábitos esta semana.
              </div>

              <!--Accordion flush-->
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      Estudiar enfocado
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">Expande tu horizonte.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      Tomar mis pastillas a la hora adecuada
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      Cuida tu salud, es invaluable!
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      Escribir en tu diario
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      No importa que tipo de día hayas tenido, escribete usando
                      palabras amables.
                    </div>
                  </div>
                </div>
              </div>
              <!--hasta acá llega el accordion flush sobre los hábitos-->
            </div>
          </div>
        </div>
      </div>

      <!-- Sección de Progreso mensual -->
      <div class="progreso-mensual col-md-4 mb-3">
        <div class="accordion accordion-flush" id="accordionFlushExample3">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseMensual"
                aria-expanded="false"
                aria-controls="flush-collapseMensual"
              >
                Progreso Mensual
              </button>
            </h2>
            <div
              id="flush-collapseMensual"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample3"
            >
              <div class="accordion-body">
                Este mes has completado **** hábitos, ¡bien hecho!
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Sección de Estadísticas, para la barra de navegación -->
    <div id="estadisticas" class="container mt-5 d-none row">
      <h2 class="text-center">Progreso de Hábitos</h2>
      <div class="col">
        <input type="hidden" id="id_category" name="category value="">
        <div class="mb-3">
          <label for="start_date" class="form-label">Categoría</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCategory" data-bs-toggle="dropdown"
              aria-expanded="false">
              Selecciona la categoria
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownFrecuencia">
              <li>
                <a class="dropdown-item" href="#" name="category" value="salud">
                  Salud </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" name="category" value="deporte">
                  Deporte </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" name="category" value="trabajo">
                  Trabajo </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" name="category" value="personal">
                  Personal </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="mb-3">
          <label for="start_date class="form-label">Fecha de Inicio</label>
          <input type="date" class="form-control" id="start_date" name="start_date"
            placeholder="Fecha de inicio" required />
        </div>

        <div class="mb-3">
          <label for="end_date class=" form-label">Fecha de Fin</label>
          <input type="date" class="form-control" id="end_date" name="end_date"
                    placeholder=" Fecha de fin" required />
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-success">
            Visualizar
          </button>
        </div>
      </div>
        
        <!--  -->
        
        
        <div class="chart-container col" id="estadistica_total">
          <div class="chart-item">
            <canvas id="grafica_total" width="200" height="200"></canvas>
          </div>
          <script>
            const ctx_t = document.getElementById(`grafica_total`).getContext('2d');
            
            
            new Chart(ctx_t, {
              type: 'doughnut',
              data: {
                datasets: [{
                  data: [percentage_m, 100 - percentage_m],
                backgroundColor: [
                  percentage_s > 70 ? 'rgba(51, 97, 255)' :
                    (percentage_s > 30 ? 'rgba(51, 221, 255, 1)' : 'rgba(50, 250, 180, 1)'),
                  'rgba(211, 211, 211, 0.3)'
                ],
                borderWidth: 2,
                cutout: '80%' // Ajusta el tamaño del centro vacío
              }]
            },
            options: {
              responsive: false,
              plugins: {
                tooltip: { enabled: false },
                legend: { display: false },
                // Etiqueta en el centro de la gráfica
                datalabels: {
                  display: true,
                  formatter: (value, context) => {
                    return context.chart.data.datasets[0].data[0] + '%';
                  },
                  color: '#000',
                  font: { size: 20, weight: 'bold' }
                }
              }
            }
          });

          </script>
       </div>
      </div>
       
    </div>

    <!-- Para mostrar la pantalla correspondiente a la selección hecha mediante los botones de la barra de navegación-->
    <script>
      function showSection(section) {
          document.getElementById("resumen").classList.add("d-none");
          document.getElementById("estadisticas").classList.add("d-none");
          document.getElementById(section).classList.remove("d-none"); //muestra resumen o estadisticas, la que el usuario haya seleccionado
      }
      async function handleCheckboxClick(habitId, goal) {
	  const checkbox = document.getElementById(`habit_${habitId}`);
	  if (checkbox.checked) {
              try {
		  console.log("decrementando")
		  const response = await fetch(`/decrement_goal/${habitId}/`, {
                      method: 'POST',
                      headers: {
			  'X-CSRFToken': '{{ csrf_token }}',
			  'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ habit_id: habitId })
		  });
		  if (response.ok) {
		      checkbox.checked = false;
                      const result = await response.json();
		      
                      if (result.goal <= 0) {
			  const habitContainer = document.getElementById(`habit-container-${habitId}`);
			  habitContainer.remove();
			  alert(`¡Habito completado! Has alcanzado tu meta para "${habitContainer.textContent.trim()}"`);
                      }
		      location.reload();
		  } else {
                      console.error("Error en la respuesta del servidor.");
		  }
              } catch (error) {
		  console.error("Error en la petición:", error);
              }
	  }
      }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
